# Git
.git
.gitignore

# Виртуальное окружение
venv/
env/
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Логи
logs/
*.log

# Локальные файлы конфигурации
.env.local
.env.development.local
.env.test.local
.env.production.local

# Временные файлы
temp/
tmp/

# Docker файлы
docker-compose.yml
.dockerignore

# Другое
.DS_Store
.vscode/
.idea/ 